@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", serif;
  }
}

.bar-underline {
  display: block;
  width: fit-content;
  position: relative;
}

.bar-underline::before {
  content: "";
  display: block;
  height: 8px;
  width: 100%;
  background-color: #14b8a6;
  position: absolute;
  bottom: 0.1em;
  left: 0;
  z-index: -1;
}
